#!/usr/bin/env zsh
set -e

if [ ! -f .venv/bin/activate ]
then
	echo "Creating a virtual Python environment"
	python3 -m venv .venv >/dev/null
fi

if [ -f .venv/bin/activate ]
then
	echo "Activating the Python virtual environment"
	. .venv/bin/activate
fi

if [ -f .venv/bin/pip3 ]
then
	echo "Installing Python requirements"
	.venv/bin/pip3 install --upgrade pip 1> /dev/null
	.venv/bin/pip3 install -r requirements.txt 1> /dev/null
fi

